# .NET
bin/
obj/
publish/

# IDE
.vs/
.vscode/
*.user
*.suo

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
.nuget/
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
